Código View (Livros->Criar)

@model WebApplication3.Models.Livros

@{

	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewData["Title"] = "Novo Livro";

}


<div class="page-header">

	<h2>Novo Livro</h2>

</div>


<div class="card">

	@if (!ViewData.ModelState.IsValid)

	{

		<div class="validation">

			@foreach (var e in ViewData.ModelState.Values.SelectMany(v => v.Errors))

			{

				<div>@e.ErrorMessage</div>

			}

		</div>

	}


	<form asp-action="Criar" method="post" enctype="multipart/form-data" class="form">

		@Html.AntiForgeryToken()


		<div class="form-grid">

			<div class="field">

				<label>Título</label>

				<input asp-for="Titulo" name="titulo" class="input" required />

			</div>


			<div class="field">

				<label>Autor</label>

				<select asp-for="AutorId" name="autor" asp-items="ViewBag.Autores" class="select">

					<option value="">(Selecione)</option>

				</select>

			</div>


			<div class="field">

				<label>Editora</label>

				<select asp-for="EditoraId" name="editora" asp-items="ViewBag.Editoras" class="select">

					<option value="">(Selecione)</option>

				</select>

			</div>


			<div class="field">

				<label>Gênero</label>

				<select asp-for="GeneroId" name="genero" asp-items="ViewBag.Generos" class="select">

					<option value="">(Selecione)</option>

				</select>

			</div>


			<div class="field">

				<label>Ano</label>

				<input asp-for="Ano" name="ano" type="number" class="input" />

			</div>


			<div class="field">

				<label>ISBN</label>

				<input asp-for="Isbn" name="isbn" class="input" />

			</div>


			<div class="field">

				<label>Quantidade total</label>

				<input asp-for="QuantidadeTotal" name="quantidade" type="number" min="1" class="input" required />

			</div>


			<div class="field">

				<label>Capa do livro</label>

				<input type="file" name="capa" accept="image/*" class="input" />

				<small class="hint">Formatos comuns: JPG/PNG. Tamanho moderado.</small>

			</div>

		</div>


		<div class="form-actions">

			<a asp-action="Index" class="btn btn-light">Cancelar</a>

			<button type="submit" class="btn btn-primary">Salvar</button>

		</div>

	</form>

</div>