<form action="CadastrarAutor" method="POST">
	<h2>Cadastrar autor</h2>
	<label for="autor-nome">Nome do Autor:</label>
	<input type="text" id="autor-nome" name="autor" required maxlength="150">
	<button type="submit">Cadastrar</button>
</form>
