<form action="CadastrarGenero" method="POST">
	<h2>Cadastrar Genero</h2>
	<label for="autor-nome">Nome do Genero:</label>
	<input type="text" id="genero-nome" name="genero" required maxlength="150">
	<button type="submit">Cadastrar</button>
</form>
<a asp-action="Index">Voltar</a>